/* Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;

}

header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 5rem;
    margin: 5px;
    padding-top: 20vh;

    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    color: white;
}

header p{
    font-size: 17px;
    font-style: italic;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-direction: column;

    margin-top: 160px;
    padding: 35px;

    background-image: url("https://marcel0henrique.github.io/code_campus/img/bg.jpeg");
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border:2px solid rgba(40, 96, 122, 0.774);
    border-radius: 5px;
    
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    

    padding: 40px;
    margin: 20px;



    background-color:rgba(40, 96, 122, 0.774);
    

    width: 40rem;
    max-height: 1100px;
    

    color: white;
}

.name{
    padding-bottom: 20px;
}


.name form{
    padding-top: 6px;
}

.name input{
    width: 100%;
    height: 2rem;
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
    padding-left: 10px ;
}


.email{
    padding-bottom: 20px;
}

.email form{
    padding-top: 6px;
}


.email input{
    width: 100%;
    height: 2rem;
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
    padding-left: 10px ;
}


.age{
    padding-bottom: 20px;
}


.age form{
    padding-top: 6px;
}

.age input{
    width: 100%;
    height: 2rem;
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
    padding-left: 10px ;
}

.age span{
    font-size: 14px;
}


.role{
    padding-bottom: 20px;
}


.role select{
    margin-top: 6px;
    width: 102%;
    height: 2rem;  
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
    padding-left: 10px ;
}


.recommend{
    padding-bottom: 20px;
}

.recommend form{
    padding-top: 6px;
}


.feature{
    padding-bottom: 20px;
}

.feature select{
    margin-top: 6px;
    width: 102%;
    height: 2rem;  
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
    padding-left: 10px ;
}

.improved {
    padding-bottom: 20px;
}

.improved form{
    padding-top: 6px;
}


.comment{
    padding-bottom: 10px;
}

.comment form{
    padding-top: 6px;
}


.comment textarea{

    width: 100%;
    height: 7rem;  
    border:2px solid #dadada;
    border-radius: 5px;

    font-size: 16px;
}

.submit input{
    width: 100%;
    height: 3rem;  
    border:2px solid #37af65;
    border-radius: 5px;

    background-color: #37af65;

    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


.submit input:hover{
    background-color: #267444;
}
